@font-face {
    font-family: "header";
    src: url(/assets/fonts/PixelifySans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "body";
    src: url(/assets/fonts/TurretRoad-Regular.ttf);
}

@font-face {
    font-family: "list";
    src: url(/assets/fonts/IndieFlower-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(/assets/gif/background1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    font-family: "body", sans-serif;
}

.container {
    text-align: center;
    background-color: #1d1d1d9f;
    width: min(35rem, 90vw);
    height: 55rem;
    border-radius: 40px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 2rem;
    border: solid 1.5px #fff;
}

.header {
    padding: 30px;
}

.logo {
    width: 50%;
    padding-bottom: .5rem;
}

.header h4 {
    font-size: 2rem;
}

.input {
    position: relative;
    width: 100%;
    align-content: center;
}

.task-input {
    width: 20rem;
    height: 4rem;
    padding: 0 3rem 0 1rem;
    background-color: transparent;
    outline: none;
    border: solid 2px #fff;
    border-radius: 35px;
    text-align: center;
    line-height: normal;
    color: #fff;
    font-family: 'body', sans-serif;
    font-size: 1.5rem;
}

.task-input::placeholder {
    color: #fff;
    font-size: 1.2rem;
    font-family: 'body', sans-serif;
    text-align: center;
}

.plus {
    position: absolute;
    right: 9rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.list {
    margin: 0 auto;
    padding: 10px;
    width: 30rem;
    height: 35rem;
    overflow-y: auto;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    gap: 1rem;
    list-style: none;
    font-size: 1.3rem;
    padding: 10px;
    padding-left: 2rem;
    font-family: "list", sans-serif;
    background-color: #2795b4;
    margin-top: 1.5rem;
    border-radius: 30px;
}

.status-icon img{
    width: 1.3rem;
    height: 1.5rem;
    margin-top: 0.5rem;
}

.task-content{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.settings-icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin-right: 1.5rem;
}

.status-menu {
    position: absolute;
    background: #ffffff69;
    border: solid 1px #0000;
    border-radius: 5px;
    top: 2.5rem;
    right: 0.5rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.status-menu button {
    padding: 0.3rem 0.8rem;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
}


.status-menu button:hover {
    background-color: #ddd;
}

.hidden {
    display: none;
}

.todo-item {
    position: relative;
}

.statusSetting {
    padding-top: 0.2rem;
}

.statusSetting img{
    width: 0.9rem;
    height: 1.2rem;
    padding-top: 0.2rem;
    margin-right: 0.3rem;
}

.delete {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin-left: 0.1rem;
    margin-right: 1rem;
}

.task-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}